dist
.gitconfig
models/agda/core.agdai
models/lean/.#core.lean
models/lean/core.clean
.#core.agda
ANF.agdai
HBound.agdai
Var.agdai
.#ANF.agda
presentations/2016jan-examples/2016jan-hopper-examples.fls
presentations/2016jan-examples/2016jan-hopper-examples.nav
presentations/2016jan-examples/2016jan-hopper-examples.pdf
presentations/2016jan-examples/2016jan-hopper-examples.snm
presentations/2016jan-examples/2016jan-hopper-examples.aux
presentations/2016jan-examples/2016jan-hopper-examples.fdb_latexmk
presentations/2016jan-examples/2016jan-hopper-examples.log
presentations/2016jan-examples/2016jan-hopper-examples.out
presentations/2016jan-examples/2016jan-hopper-examples.synctex.gz
presentations/2016jan-examples/2016jan-hopper-examples.toc
