dist
.gitconfig
.stack-work
TAGS
models/agda/core.agdai
models/lean/.#core.lean
models/lean/core.clean
.#core.agda
ANF.agdai
HBound.agdai
Var.agdai
.#ANF.agda
presentations/2016jan-examples/2016jan-hopper-examples.fls
presentations/2016jan-examples/2016jan-hopper-examples.nav
presentations/2016jan-examples/2016jan-hopper-examples.pdf
presentations/2016jan-examples/2016jan-hopper-examples.snm
presentations/2016jan-examples/2016jan-hopper-examples.aux
presentations/2016jan-examples/2016jan-hopper-examples.fdb_latexmk
presentations/2016jan-examples/2016jan-hopper-examples.log
presentations/2016jan-examples/2016jan-hopper-examples.out
presentations/2016jan-examples/2016jan-hopper-examples.synctex.gz
presentations/2016jan-examples/2016jan-hopper-examples.toc
2016jan-hopper-examples.pdf
presentations/2016jan-examples/_minted-hopper-examples-design/7ADDAF4BF8988699ED5421010B99A984CF7C2AACEA3F5A6081FDE377C0F22523.pygtex
presentations/2016jan-examples/_minted-hopper-examples-design/default-pyg-prefix.pygstyle
presentations/2016jan-examples/_minted-hopper-examples-design/default.pygstyle
presentations/2016jan-examples/hopper-examples-design.aux
presentations/2016jan-examples/hopper-examples-design.bbl
presentations/2016jan-examples/hopper-examples-design.blg
presentations/2016jan-examples/hopper-examples-design.fdb_latexmk
presentations/2016jan-examples/hopper-examples-design.fls
presentations/2016jan-examples/hopper-examples-design.log
presentations/2016jan-examples/hopper-examples-design.out
presentations/2016jan-examples/hopper-examples-design.synctex.gz
presentations/2016jan-examples/hopper-examples-design.tdo
presentations/2016jan-examples/missfont.log
hopper-examples-design.pdf
report.html
